In [7]:
import pandas as pd
import math

df_lat_long = pd.read_csv('/Users/ellenstickland/Documents/Git/UAV/countries/country_lat_long.csv')
df_lat_long

    country_code        lat       long               country
0             AD  42.546245   1.601554               Andorra
1             AE  23.424076  53.847818  United Arab Emirates
2             AF  33.939110  67.709953           Afghanistan
3             AG  17.060816 -61.796428   Antigua and Barbuda
4             AI  18.220554 -63.068615              Anguilla
..           ...        ...        ...                   ...
240           YE  15.552727  48.516388                 Yemen
241           YT -12.827500  45.166244               Mayotte
242           ZA -30.559482  22.937506          South Africa
243           ZM -13.133897  27.849332                Zambia
244           ZW -19.015438  29.154857              Zimbabwe

[245 rows x 4 columns]

In [4]:
df_lat_long[df_lat_long['country']=='France']

   country_code        lat      long country
71           FR  46.227638  2.213749  France

In [5]:
df_lat_long[df_lat_long['country']=='United Kingdom']

   country_code        lat      long         country
73           GB  55.378051 -3.435973  United Kingdom

In [8]:
def calculateDistance(lat_a,long_a, lat_b, long_b):
    return math.sqrt(((lat_a-lat_b)**2)+((long_a-long_b)**2))

In [9]:
lat_a = 46.227638
long_a = 2.213749
lat_b = 55.378051
long_b = -3.435973
distance = calculateDistance(lat_a,long_a, lat_b, long_b)
print(distance)

10.7540418795843

In [11]:
from math import radians, cos, sin, asin, sqrt
def calculateDistance2(lat1, lat2, lon1, lon2):
     
    # The math module contains a function named
    # radians which converts from degrees to radians.
    lon1 = radians(lon1)
    lon2 = radians(lon2)
    lat1 = radians(lat1)
    lat2 = radians(lat2)
      
    # Haversine formula
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
 
    c = 2 * asin(sqrt(a))
    
    # Radius of earth in kilometers. Use 3956 for miles
    r = 6371
      
    # calculate the result
    return(c * r)

In [13]:
distance = calculateDistance2(lat_a,lat_b, long_a,  long_b)
print(distance)

1091.3161189004468